* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "VT323", monospace;
  background-color: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-size: 80px;
  color: aliceblue;
}
#piso {
  display: none;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  outline: 1px solid #fff;
  image-rendering: pixelated;
  background-color: rgb(74, 213, 223);
}

/*Aplicar Efecto:
 https://www.youtube.com/watch?v=ois8ipBUgfk&ab_channel=OnlineTutorials */
.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#boton-inicio {
  font-family: "VT323", monospace;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

#contenedor-letras {
  text-align: center;

}

#input-letras::placeholder  {
  text-align: center; 
  font-family: "VT323", monospace; 
  font-size: 20px;                 
}

.invisible {
  display: none;
}

@media (min-width: 710px) {
  .canvas-container {
    transform: scale(2) translateY(25%);
  }
  .boton-container {
    margin-top: 210px;
  }
}
